.footer {
  padding: 30px 10px;
  margin: 20px auto 15px auto;
  color: rgb(77, 77, 77);
  text-align: center;
}

.footerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}

.footer .copyInfo {
  font-size: 0.8em;
}

.footer .links {
  list-style: none;
  font-size: 0.8em;

  --li-margin: 10px;
}

@media screen and (max-width: 400px) {
  .links {
    --li-margin: 7px!important;
  }
}

.links > li {
  display: inline-block;
}
.links > li::after {
  content: "•";
  margin: 0 var(--li-margin);
  color: rgb(158, 158, 158)
}
.links > li:last-child::after {
  display: none;
}

.links > li a {
  color: rgb(102, 102, 102);
}

.links > li a:hover,
.links > li a:focus,
.links > li a:active {
  text-decoration: underline;
  color: rgb(46, 46, 46);
}