@import "../public/fonts/Inter/inter.css";

.landingPage {
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

.pageHero {
  width: 100%;
  height: 100vh;
  background-color: #fff4e3;
  overflow: hidden;
}

.pageHeroInner {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  padding: 0px 15px;
}

.heroNav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  z-index: 5;
}
.heroNav > .left img {
  max-width: 50px;
}

.navLogin {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  padding: 10px 25px;
  font-weight: bold;
  box-shadow: 0px 2px 20px rgba(0,0,0,0.1);
}

.navLogin:hover {
  background-color: #f9f9f9;
}


.hero {
  top: 200px;
  position: absolute;
  width: 100%;
}

.heroCaption {
  position: absolute;
  z-index: 2;
}

.heroCaption > .heroCaptionHeading {}
.heroCaptionHeading h1 {
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 1.1em;
}

.heroCaption > .button .loginButton {
  margin-top: 2em;
  background-color: #c13a38;
  padding: 15px 30px;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5em;
  box-shadow: 0px 5px 40px rgba(0,0,0,0.6);
}
.loginButton:hover {
  background-color: #a52e2c!important;
}
.loginButton:focus,
.loginButton:active {
  background-color: #942a28!important;
}


.sitePreviewPanel {
  position: absolute;
  top: 10em;
  z-index: 1;
  right: 0;
}

.sitePreviewPanel .mobilePreview {
  position: absolute;
  z-index: 2;
  bottom: -2em;
  left: -5em;
}
.mobilePreview > img {
  border-radius: 20px;
  max-width: 200px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}

.sitePreviewPanel .laptopPreview {
  right: 0px;
}
.laptopPreview > img {
  border-radius: 20px;
  max-width: 800px;
  box-shadow: 0px 10px 50px rgba(0,0,0,0.2);
}


.sitePreviewPanelSm {
  display: none;
  position: absolute;
  bottom: -25em;
  right: 10px;
}
.mobilePreviewSm > img {
  border-radius: 20px;
  max-width: 350px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}

@media screen and (max-width: 1000px) {
  .sitePreviewPanel {
    right: -20em!important;
  }
}

@media screen and (max-width: 850px) {
  .heroCaptionHeading h1 {
    font-size: 4em;
  }
  .loginButton {
    font-size: 1.3em!important;
  }
}

@media screen and (max-width: 850px) {
  .sitePreviewPanel {
    display: none;
  }
  
  .sitePreviewPanelSm {
    display: block;
  }
}

@media screen and (max-height: 620px) {
  .hero {
    top: 150px;
  }
}

@media screen and (max-width: 650px) {
  .loginButton {
    font-size: 1.1em!important;
  }
  
  .sitePreviewPanelSm {
    bottom: -15em;
  }
  .mobilePreviewSm > img {
    max-width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .heroCaptionHeading h1 {
    font-size: 3em;
  }
  
  .sitePreviewPanelSm {
    bottom: -15em;
  }
  .mobilePreviewSm > img {
    max-width: 300px;
  }

  @media screen and (max-height: 720px) {
    .sitePreviewPanelSm {
      bottom: -20em;
    }
  }
}

@media screen and (max-width: 400px) {
  .heroCaptionHeading h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 370px) {
  .loginButton {
    padding: 15px 20px!important;
  }

  .sitePreviewPanelSm {
    bottom: -14em;
  }

  .mobilePreviewSm > img {
    max-width: 250px;
  }
}