.skeletonLoading {
    animation: skeletonLoading 1s linear infinite alternate;
}

@keyframes skeletonLoading {
    0% {
        background-color: #eee;
    }

    100% {
        background-color: #bebebe;
    }
}