.phoneHolder {
  --widthPhoneHolder: 230px;
  --heightPhoneHolder: 470px;

  width: var(--widthPhoneHolder);
  min-width: var(--widthPhoneHolder);
  max-width: var(--widthPhoneHolder);

  height: var(--heightPhoneHolder);
  min-height: var(--heightPhoneHolder);
  max-height: var(--heightPhoneHolder);

  border-radius: 2.6875rem;
  background-color: rgba(233, 233, 233, 1);
  padding: 12px;
  box-shadow: 0px 15px 50px rgba(0,0,0,0.1);
  position: relative;
  flex: 2;
}
.phoneHolder::before {
  content: '';
  background-image: url('../public/iphone-notch.svg');
  background-repeat: no-repeat;
  
  --width: 195px;
  --height: 15px;

  background-size: var(--width) var(--height);
  width: var(--width);
  height: var(--height);

  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.phoneHolder video {
  border-radius: 1.8rem;
  background-color: #fff;
}